# Set default values for all following accounts.
defaults
port 587
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile -

account mailserver
host {{ debian_smtp_host }}
from {{ debian_smtp_user }}
auth on
user {{ debian_smtp_user }}
password {{ debian_smtp_password }}

# Set a default account
account default : mailserver